@model SaleRecordViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style{
    <style>
        .select2 {
            width: 100% !important;
        }

        @@media (max-width: 768px) {
            .select2 {
                width: 70% !important;
            }
        }
    </style>

    <link href="~/lib/jquery-ui/css/jquery-ui.min.css" rel="stylesheet" />

}

<div class="row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <h1 class="main-title float-left">Sale Info</h1>
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item"><a href="/Home/Index"><i class="fa fa-home fa-2x"></i></a></li>
                <li class="breadcrumb-item active"><a href="#">Sale</a></li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card mb-3">
            <div class="card-header">
                <h3><i class="fa fa-free-code-camp bigfonts"></i>Sale Bill Entry</h3>
            </div>

            <div class="card-body">
                    <input type="hidden" name="SaleRecordId" id="SaleRecordId" value="0" />
                    <input type="hidden" name="PaymentRecordId" id="PaymentRecordId" value="0" />
                    <div class="form-group row">
                        <label for="CustomerId" class="col-sm-2 col-form-label">Customer</label>
                        <div class="col-sm-4">
                            <select id="CustomerId" name="CustomerId">
                                <option value="0">Select</option>
                                @foreach (var customer in Model.customers)
                                {
                                    <option value="@customer.Id">@customer.customerName</option>
                                }
                            </select>
                        </div>
                        <label for="" class="col-sm-2 col-form-label">Bill Date</label>
                        <div class="col-sm-4">
                            <input type="text" name="billDate" id="billDate" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Product Code</label>
                            <div>
                                <input type="text" id="productCode" name="productCode" placeholder="Enter Product Code">
                                <input type="hidden" id="ProductId" name="ProductId" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="rate">Rate</label>
                            <div>
                                <input type="text" id="rate" name="rate" class="numeric" placeholder="Enter rate">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="quantity">Quantity</label>
                            <div>
                                <input type="text" id="quantity" name="quantity" class="numeric" placeholder="Enter Quantity">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label></label>
                            <div>
                                <button type="button" class="bg-primary text-white" id="btnAdd">Add</button>
                            </div>
                        </div>
                    </div>


                    <br />
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-striped table-responsive-sm" id="tblAddProducts">
                                        <thead>
                                            <tr>
                                                <th>sl</th>
                                                <th>Code</th>
                                                <th>Rate</th>
                                                <th>Quantity</th>
                                                <th>Subtotal</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="4" class="text-right">Total</td>
                                                <td colspan="2"></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="col-md-12">
                                    <br />
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <label for="receiveTotal">Receive Amount</label>
                                            <div>
                                                <input type="text" class="numeric" id="receiveTotal" name="receiveTotal" placeholder="Enter receive Amount" required autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <label for="changeAmount">Change Amount</label>
                                            <div>
                                                <input type="text" id="changeAmount" name="changeAmount" class="bg-success text-white" placeholder="Change Amount" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <label for="payType">Payment Mode</label>
                                            <div>
                                                <select id="payType" name="payType" required autocomplete="off">
                                                    <option value="">Select</option>
                                                    <option value="1">Cash</option>
                                                    <option value="2">Check</option>
                                                    <option value="3">Mobile Banking</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <label>Remarks</label>
                                            <div>
                                                <input type="text" id="remarks" name="remarks" placeholder="Remarks"  autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="card">
                                <div class="card-header">
                                    <h5><i class="fa fa-table bg-success"></i>Payment Details</h5>
                                </div>
                                <div class="card-body" style="height: 100%;">
                                    <div class="form-group row">
                                        <label for="grossAmount" class="col-sm-5">Gross Amount</label>
                                        <div class="col-sm-7">
                                            <input type="text" name="grossAmount" id="grossAmount" class="bg-success text-white" value="0" readonly required/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="discountAmount" class="col-sm-5">Discount Amount</label>
                                        <div class="col-sm-7">
                                            <input type="text" name="discountAmount" class="numeric" id="discountAmount" value="" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="netAmount" class="col-sm-5">Net Amount</label>
                                        <div class="col-sm-7">
                                            <input type="text" name="netAmount" id="netAmount" value="" class="bg-success text-white" readonly required/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="vatAmount" class="col-sm-5">Vat Amount</label>
                                        <div class="col-sm-7">
                                            <input type="text" name="vatAmount" class="numeric" id="vatAmount" value="" required/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-5">Grand Total</label>
                                        <div class="col-sm-7">
                                            <label id="grandTotal"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12 justify-content-end">
                            <div class="card">
                                <button type="button" class="btn btn-primary" id="btnSave">Save Sale Bill</button>
                            </div>
                        </div>
                    </div>
            </div><!-- end card-->
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery-ui/js/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#tblData").DataTable({order: [[0, "desc"]]});
            $('#CustomerId').select2();
            var d = new Date();
            var strDate = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate();
            $('#billDate').val(strDate);
            $('#billDate').flatpickr({ dateFormat: "Y/m/d", minDate: "@DateTime.Now.ToString("MM/dd/yyyy")", maxDate: strDate });

            Common.Ajax('GET', '/MasterData/ProductInfo/AllProduct', [], 'json', ajaxGetAllProduct);


            $(".numeric").keydown(function (e) {
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    (e.keyCode >= 35 && e.keyCode <= 40)) {
                    return;
                }
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
        })

        let uniqueBocherCode = () => {
            var date = new Date();
            var components = [
                date.getYear(),
                date.getMonth(),
                date.getDate(),
                date.getHours(),
                date.getMinutes(),
                date.getSeconds(),
                date.getMilliseconds()
            ];

           return components.join("");
         
        }

        function Clear() {
            $("#productCode").val('');
            $("#ProductId").val('');
            $("#rate").val('');
            $("#quantity").val('');
        }

        let AllClear=() => {
            $("#grossAmount").val(0);
            $("#netAmount").val('');
            $("#vatAmount").val('');
            $("#discountAmount").val('');
            $("#changeAmount").val("");
            $("#grandTotal").text('');
            $("#payType").val('');
            $("#remarks").val('');
            $("#grandTotal").text('');
            $("#productCode").val('');
            $("#ProductId").val('');
            $("#rate").val('');
            $("#quantity").val('');
            $("#tblAddProducts tfoot tr").find("td").eq(1).text('');
        }


        $("#rate").keyup(function() {
            if ($("#ProductId").val() == 'undefined' || $("#ProductId").val() == "" && $("#productCode").val()!="") {
                alert("Invalid Product Code");
                return false;
            }
            if ($("#productCode").val() === "") {
                $("#ProductId").val('');
                return false;
            }
        })

        $("#discountAmount").keyup(function() {
            if ($("#grossAmount").val() !== 'undefinded' && $(this).val() !== 'undefinded' && $(this).val()!=="") {
                $("#netAmount").val(parseInt($("#grossAmount").val())- parseInt($(this).val()));
            } else {
                $("#netAmount").val(0);
            }
        })

        $("#vatAmount").keyup(function () {
            if ($("#netAmount").val() !== 'undefinded' && $(this).val() !== 'undefinded'&& $("#netAmount").val()!=="") {

                if (!isNaN(parseInt($("#netAmount").val()) + parseInt($(this).val()))) {
                    $("#grandTotal").text(parseInt($("#netAmount").val()) + parseInt($(this).val()));
                }else {
                    $("#grandTotal").text('');
                }
            } else {
                $("#grandTotal").text('');
            }
        })
        $("#receiveTotal").keyup(function () {

            if ($(this).val() !== 'undefinded' && $(this).val() !== "") {

                let total = parseInt($("#grandTotal").text() - $(this).val());
                if (!isNaN(total)) {
                    $("#changeAmount").val(total);
                } else {
                    $("#changeAmount").val("");
                }

            } else {
                $("#changeAmount").val('');
            }
        })



        $("#tblAddProducts tbody").on('click', '.remove', function () {
            $(this).closest('tr').remove();
            findTotal();
        })

        let findTotal=()=> {
            let totalBill = 0;
            $("#tblAddProducts tbody tr").each(function () {
                totalBill+=$(this).find("td").eq(3).text();
            });

            $("#tblAddProducts tfoot tr").find("td").eq(1).text(parseInt(totalBill))
            $("#grossAmount").val(parseInt(totalBill));
            $("#grandTotal").text($("#grossAmount").val());
        }

        let validationAddData = () => {

            var response = true;
            if ($("#productCode").val() === "undefined" || $("#productCode").val() === "") {
                alert("ProductCode required");
                response = false;
                return response;
            }

            if ($("#rate").val() === "undefined" || $("#rate").val() === "") {
                alert("Rate field required");
                response = false;
                return response;
            }
            if ($("#quantity").val() === "undefined" || $("#quantity").val() === "") {
                alert("Quantity field required");
                response = false;
                return response;
            }
            return response;
        }

        $("#btnAdd").click(function () {
            let response = validationAddData();
            let subTotal = 0;
            var rowNum = $('#tblAddProducts tbody tr').length+1;
            subTotal = $("#rate").val() * $("#quantity").val();
            if (response===true) {
                $('#tblAddProducts tbody').append('<tr>' +
                    '<td>' + rowNum+'</td>'+
                    '<td>' + $("#productCode").val() + '<span class="d-none">' + $("#ProductId").val() + '</span ></td>' +
                    '<td>' + $("#rate").val() + '</td>' +
                    '<td>' + $("#quantity").val() + '</td>' +
                    '<td>' + subTotal + '</td>' +
                    '<td><a class="btn btn-sm btn-danger remove">Delete</a></td>' +
                    '</tr>');
                findTotal();
                Clear();
            }
        });

            let ajaxGetAllProduct = (response) => {
                var allProduct = [];
                $.each(response, function (id, option) {
                    var obj = new Object();
                    obj.key = option.Id;
                    obj.value = option.productCode + ' (' +option.productName+' )';
                    allProduct[allProduct.length] = obj;
                });
                $('#productCode').autocomplete({
                    source: allProduct,
                    sortable: true,
                    select: function (event, ui) {
                        $("#ProductId").val(ui.item.key);
                        $("#productCode").val(ui.item.value);
                    }
                });


            }

        $('#btnSave').click(function (event) {
            event.preventDefault();
            if ($("#tblAddProducts tbody tr").length > 0) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You want to save this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, save it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        var AllAddedData = [];

                        $('#tblAddProducts tbody tr').each(function () {
                            
                            var CurrentRow = $(this);
                        

                            var SaleRecordData = {
                                ProductId: $(this).find('td').eq(1).find('span').text().trim(),
                                rate: $(this).find('td').eq(2).text().trim(),
                                quantity: $(this).find('td').eq(3).text().trim(),
                            }
                           
                            AllAddedData.push(SaleRecordData);
                            CurrentRow.remove();
                            
                        });
                        console.log(AllAddedData);
                        var model = {
                            SaleRecordId: $('#SaleRecordId').val(),
                            CustomerId: $('#CustomerId').val(),
                            boucherNumber: uniqueBocherCode(),
                            billDate: $('#billDate').val(),
                            PaymentRecordId: $("#PaymentRecordId").val(),
                            grossAmount: $("#grossAmount").val(),
                            discountAmount: $("#discountAmount").val(),
                            vatAmount: $("#vatAmount").val(),
                            receiveTotal: $("#receiveTotal").val(),
                            payType: $("#payType").val(),
                            remarks: $("#remarks").val(),
                            productList: AllAddedData
                        };

                        $.ajax({
                            url: "/Sale/SaleRecordInfo/SaveSaleRecord",
                            type: "POST",
                            data: model,
                           /* dataType: "json",*/
                           /* contentType: "application/json; charset=utf-8",*/
                            //beforeSend: function () {
                            //    $('#btnSave').attr('disabled', 'disabled');
                            //    $('#btnSave').val('Submitting...');
                            //},
                        }).done(function (data) {
                            console.log(data);
                            $("#btnSave").removeAttr('disabled');
                            swal.fire('success', 'Saved ' + data.saleSuccessCount + 'items Successfully!', 'success');
                            AllClear();
                        }).fail(function () {
                            $("#btnSave").removeAttr('disabled');
                            console.log("Error");
                            Clear();
                        })

                       

                    }
                });
            }
            else {
                $('#btnSave').attr('disabled', 'disabled')
                swal.fire('warning', 'Please Add at least one Item', 'warning');
            }
        })


    </script>
}



