@{
    ViewData["Title"] = "Home Page";
}
@section Style{

}

<div class="row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <h1 class="main-title float-left">Home</h1>
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item"><a href="/Home/Index"><i class="fa fa-home fa-2x"></i></a></li>
                <li class="breadcrumb-item active"><a href="#">Home</a></li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card">

            <div class="card-header bg-primary text-white d-flex justify-content-center">
                <h3><i class="fa fa-free-code-camp bigfonts"></i>Developer Profile</h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-group bg-success">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Developer
                            <span class="badge badge-primary badge-pill">Nayeem Bhuiyan</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Institution
                            <span class="badge badge-primary badge-pill">Jagannath University</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Address
                            <span class="badge badge-primary badge-pill">136 Bangshal Dhaka</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Home District
                            <span class="badge badge-primary badge-pill">Narayanganj</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Email
                            <span class="badge badge-primary badge-pill">nayeembhuiyan30@gmail.com</span>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
       

    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-success text-white d-flex justify-content-center">
                <h3><i class="fa fa-free-code-camp bigfonts"></i>Project Tools Requirement</h3>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Project IDE
                        <span class="badge badge-primary badge-pill">Visual 2019</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Database
                        <span class="badge badge-primary badge-pill">SQL SERVER 2019</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        SDK
                        <span class="badge badge-primary badge-pill">Dot Net SDK 5.0</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Version
                        <span class="badge badge-primary badge-pill">Asp Core(5.0) MVC</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
@section Scripts{ 

}